.content .main-dashboard .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
}

.content .main-dashboard .header .left h1{
    margin-bottom: 10px;
    color: var(--dark);
}

.content .main-dashboard .header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content .main-dashboard .header .left .breadcrumb li{
    color: var(--dark);
}

.content .main-dashboard .header .left .breadcrumb li a{
    color: var(--dark-grey);
    pointer-events: none;
}

.content .main-dashboard .header .left .breadcrumb li a.active{
    color: var(--primary);
    pointer-events: none;
}

.content .main-dashboard .header .report{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
}

.content .main-dashboard .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.content .main-dashboard .insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.content .main-dashboard .insights li .bx ,.fas{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .main-dashboard .insights li:nth-child(1) .bx,.fas{
    background: var(--light-danger);
    color: var(--danger);
}

.content .main-dashboard .insights li:nth-child(2) .bx,.fas{
    background: var(--light-primary);
    color: #50d2e4;
}

.content .main-dashboard .insights li:nth-child(3) .bx {
    background: var(--light-success);
    color: var(--success);
}


.content .main-dashboard .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.content .main-dashboard .insights li .info p{
    color: var(--dark);
}

.content .main-dashboard .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.content .main-dashboard .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content .main-dashboard .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content .main-dashboard .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content .main-dashboard .bottom-data .header .bx{
    cursor: pointer;
}

.content .main-dashboard .bottom-data .orders{
    flex-grow: 1;
    flex-basis: 500px;
}

.content .main-dashboard .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

.content .main-dashboard .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.content .main-dashboard .bottom-data .orders table td{
    padding: 16px 0;
}

.content .main-dashboard .bottom-data .orders table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.content .main-dashboard .bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content .main-dashboard .bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.content .main-dashboard .bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

.content .main-dashboard .bottom-data .orders table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.content .main-dashboard .bottom-data .orders table tr td .status.completed{
    background: var(--success);
}

.content .main-dashboard .bottom-data .orders table tr td .status.process{
    background: var(--primary);
}

.content .main-dashboard .bottom-data .orders table tr td .status.pending{
    background: var(--warning);
}

.content .main-dashboard .bottom-data .reminders{
    flex-grow: 1;
    flex-basis: 300px;
}

.content .main-dashboard .bottom-data .reminders .task-list{
    width: 100%;
}

.content .main-dashboard .bottom-data .reminders .task-list li{
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .main-dashboard .bottom-data .reminders .task-list li .task-title{
    display: flex;
    align-items: center;
}

.content .main-dashboard .bottom-data .reminders .task-list li .task-title p{
    margin-left: 6px;
}

.content .main-dashboard .bottom-data .reminders .task-list li .bx{
  cursor: pointer;  
}

.content .main-dashboard .bottom-data .reminders .task-list li.completed{
    border-left: 10px solid var(--success);
}

.content .main-dashboard .bottom-data .reminders .task-list li.not-completed{
    border-left: 10px solid var(--danger);
}

.content .main-dashboard .bottom-data .reminders .task-list li:last-child{
   margin-bottom: 0;
}


@media screen and (max-width: 576px) {
    
    .content .main-dashboard .insights {
        grid-template-columns: 1fr;
    }

    .content .main-dashboard .bottom-data .header{
        min-width: 340px;
    }

    .content .main-dashboard .bottom-data .orders table{
        min-width: 340px;
    }

    .content .main-dashboard .bottom-data .reminders .task-list{
        min-width: 340px;
    }

}