body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #8bc34a;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 40px; 
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.search-bar {
    margin-right: 5px; 
    margin-left: 840px;
}

.search-bar input {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.notifications .notification-btn {
    background: none;
    border: none;
    padding: 0;
    margin-left: 5px;
}

.notifications .notification-btn img {
    height: 30px;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.profile-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profile-btn img {
    height: 30px;
    margin-right: 6px;
}

main {
    display: flex; 
    justify-content: space-between;
    background-color: #ffffff;
}

.container {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    flex-wrap: wrap; 
    margin-left: 240px;
    margin-top: 50px;
}

.person-container {
    display: flex;
    flex-direction: row; 
    margin-top: 60px;
}
.person-details {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 20px; 
}

.person-details img {
    width: 200px; 
    height: auto;
}

.weight-container {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}

.weight {
    font-size: 36px; 
    margin-right: 5px; 
    color: #dc143c;
}

.lost {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.lost p {
    margin: 0; 
    margin-top: 4px;
    color:#dc143c;
    font-size: 18px;
}
.lost span {
    color:#dc143c;
    font-size: 18px;
}

.calories-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 50px;
    margin-left: 15px;
}
.calories-container h2 {
    color: #dc143c; 
    font-size: 24px;
}

.battery-container img {
    width: 60px; 
    height: auto; 
    align-items: center;
}

.calories {
    font-size: 36px; 
}

.goals-container {
    text-align: left;
    align-self: flex-start; 
    margin-left: 270px;
    margin-top: 40px;
    color: #8bc34a;
    font-size: 28px;
}

.goals-container img {
    width: 700px; 
    height: auto; 
}

.weekly-recipe-container {
    margin-top: 40px;
    text-align: center;
    width: 100%; 
    margin-right: 170px;
}

.weekly-recipe-container h2 {
    text-align: left;
    color: #8bc34a;
    font-size: 28px;
}

.recipes-container {
    width: 100%; 
}

.recipes {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.recipes a {
    text-decoration: none; 
    color: white;
}

.recipe-card {
    width: 23%; 
    margin-bottom: 20px;
    overflow: hidden; 
}

.recipe-card img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
}

.recipe-card button {
    border: none;
    background-color: #dc143c; 
    color: #ffffff; 
    border-radius: 20px; 
    padding: 0px 20px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.recipe-card button:hover {
    background-color: #D84315; 
}

.nutricionistas-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}
.nutricionistas-container h2 {
    color: #8bc34a; 
    font-size: 28px;
}

.nutricionista {
    width: 45%; 
    margin: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nutricionista button {
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    text-align: center; 
}

.nutricionista button:focus {
    outline: none;
}

.nutricionista button img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nutricionista button p {
    margin: 0;
}
/*RECORASDADASDAS*/
.reminder-container {
    background-color: #fff0da; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: inline-block; 
    vertical-align: top;
    margin-top: 320px;
}

.reminder-container h2 {
    color: #dc143c; 
}

.reminder-content {
    margin-top: 20px;
}

.footer-container {
    display: flex;
    align-items: center;
    background-color: #2e2c2c; 
    padding: 20px; 
}

.logo-container img {
    width: 100px; 
    margin-right: 300px; 
    margin-top: 20px;
    margin-left: 260px;
}

.links-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.links-list li {
    margin-right: 50px;
}

.links-list strong {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

.links-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links-list ul li {
    margin-bottom: 15px; 
}

.links-list a {
    text-decoration: none;
    color: white;
}

.derechos-container {
    background-color: #2e2c2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    color: #808080;
    text-align: center;
    margin-left: 820px;
}

.redes-container {
    display: flex;
}

.redes-container img {
    width: 40px;
    height: 40px;
    margin-left: 10px; 
}
