body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #8bc34a;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 40px; 
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.search-bar {
    margin-right: 5px; 
    margin-left: 840px;
}

.search-bar input {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.notifications .notification-btn {
    background: none;
    border: none;
    padding: 0;
    margin-left: 5px;
}

.notifications .notification-btn img {
    height: 30px;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.profile-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profile-btn img {
    height: 30px;
    margin-right: 6px;
}

.sidebar {
    position: fixed;
    top: 100px; 
    left: 20px;
    width: calc(20% - 20px);
    height: calc(100vh - 60px - 20px); 
    background-color: #fff0da;
    border-radius: 10px;
    padding: 10px; 
}

h2, h3 {
    color: black;
}

.dias {
    display: flex;
    margin-bottom: 30px;
}

.comidas {
    display: flex;
    margin-bottom: 30px;
}

.columna {
    flex: 1; 
}

input[type="checkbox"] {
    margin-right: 5px; 
}

.linea {
    border: none;
    border-top: 1px solid #b9b9b9; 
    margin: 5px 0; 
}

.reloj {
    width: 20px;
    height: 20px;
}

.minutos {
    width: 50px;
    margin-right: 10px; 
}

.barra-tiempo {
    width: 100%; 
    margin-top: 5px; 
}

.tiempo-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.puntuacion-container {
    display: flex;
    flex-direction: column;
}

.estrella {
    width: 20px; 
    height: 20px; 
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 24px;
}
.fila-puntuacion {
    border: none; 
    background: none;
    padding: 0; 
    cursor: pointer; 
}

.fila-puntuacion:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.clear-all-btn {
    background-color: red; 
    color: white; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    margin-top: 20px; 
    cursor: pointer; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clear-all-btn:hover {
    background-color: darkred; 
}

.top-10-recetas {
    display: fixed;
    right: 20px;
    top: 80px; 
    width: calc(65% - 20px); 
    margin-top: 100px; 
    margin-left: 540px;
}
.recetas-container {
    display: flex;
    overflow: hidden; 
}

.receta {
    flex: 0 0 33.33%; 
    padding: 10px;
    box-sizing: border-box;
    padding-bottom: 20px; 
}

.receta img {
    width: 350px; 
    height: 200px; 
    object-fit: cover; 
}


.puntuacion img {
    width: 20px;
    height: 20px;
}

.contenedor-flechas {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.flecha-izquierda,
.flecha-derecha {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.flecha-izquierda {
    margin-right: 40px; 
}

.flecha-derecha {
    margin-left: 40px;
}

.ver-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 20px;
}

.que-cocinar {
    display: fixed;
    right: 350px; 
    bottom:150px;
    width: calc(50% - 20px);
    margin-top: 40px; 
    margin-left: 660px;
}

.que-cocinar .opciones {
    display: flex;
    overflow: hidden;
}

.que-cocinar .opcion {
    width: 200px; 
    margin-right: 10px; 
    text-align: center; 
}

.contenedor-flechas {
    display: flex;
    align-items: center;
}

.que-cocinar .flecha-izquierda,
.que-cocinar .flecha-derecha {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.opcion img {
    width: 120px; 
    height: 120px; 
    object-fit: cover; 
}

.ver-recetas {
    display: fixed;
    margin-top: 40px; 
    margin-left: 560px;
    margin-bottom: 20px;
}

.ver-recetas h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contenedor-flechas .flecha-derecha {
    margin-left: 40px; 
}

.ver-recetas .contenedor-flechas {
    display: flex;
    align-items: center;
}

.ver-recetas .flecha-izquierda,
.ver-recetas .flecha-derecha {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.ver-recetas .recetas-container {
    display: flex;
    overflow-x: hidden;
}

.ver-recetas .receta {
    flex: 0 0 calc(100% / 6);
    margin-right: 10px; 
    text-align: center;
}

.ver-recetas .receta:last-child {
    margin-right: 0; 
}

.ver-recetas .receta img {
    width: 220px; 
    height: 150px; 
    object-fit: cover;
}

.ver-recetas .receta h3 {
    margin-top: 5px;
    font-size: 1rem;
}

.ver-recetas .puntuacion {
    margin-top: 5px;
}

.ver-recetas .puntuacion img {
    width: 20px;
    height: 20px;
}

.categoria {
    color: white;
    border:none;
    font-size: 18px; 
    padding: 10px 20px;
    border-radius: 8px; 
    background-color: red;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.categoria:hover {
    background-color: darkred;
    border-color: white; 
}

.footer-container {
    display: flex;
    align-items: center;
    background-color: #2e2c2c; 
    padding: 20px; 
}

.logo-container img {
    width: 100px; 
    margin-right: 300px; 
    margin-top: 20px;
    margin-left: 260px;
}

.links-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.links-list li {
    margin-right: 50px; 
}

.links-list strong {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

.links-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links-list ul li {
    margin-bottom: 15px; 
}

.links-list a {
    text-decoration: none;
    color: white;
}

.derechos-container {
    background-color: #2e2c2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    color: #808080;
    text-align: center;
    margin-left: 820px;
}

.redes-container {
    display: flex;
}

.redes-container img {
    width: 40px;
    height: 40px;
    margin-left: 10px; 
}